
# Python bytecode
__pycache__/
*.pyc

# Virtual environment
.venv/

# IDE specific files (PyCharm, etc.)
.idea/

# Log files
*.log

# DS_Store
.DS_Store

# Ignore all files in the easy-text folder
easy-text/

